@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* section1 starts here */
/* header-nav style */
.header {
  padding: 1.6rem;
  background-color: black;
  color: #caffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://templatedemo.website.com/remote/imageProxy.cfc?method=viewLibraryImage&s=QEJILSAlJyhFUEcxSEFQKVdUUjtaRypUM0FGWCZKMk5DPV5OVCVQQ08%2BKzwgCg%3D%3D&type=full);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 1rem;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.body-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: 1 1 70rem;
  padding: 1rem;
}

.body-headtext {
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
}

.body-caption {
  font-size: 50px;
  font-family: Poppins;
  line-height: 1.2em;
  color: #ffffff;
  margin: 4rem 0rem;
  text-align: center;
}

.btn button {
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  color: #9dd9de;
  border: 1px solid #9dd9de;
  padding: 10px 30px 10px 30px;
  background-color: rgba(238, 240, 235, 0);
  width: auto;
  cursor: pointer;
}

.btn button:hover{
  color: #fff;
  border: 1px solid #fff;
  transform: scale(1.2);
}

/* <!-- section2 ends here --> */

/* <!-- section3 starts here --> */
/* <!-- section3 ends here --> */

/* <!-- section4 starts here --> */

.services {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #000;
  text-align: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.header__nav ul li {
  list-style: none;
  padding: 0 9px;
  margin: 0 1rem;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
}

.header__nav ul li:hover {
  border-bottom: 4px solid #caffff;
}

.header__nav ul li a:hover {
  color: #caffff;
}

.header__logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.header__nav ul li a {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

.header__mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__mobile-nav ul {
  position: fixed;
  top: 85px;
  left: 0;
  display: none;
  background-color: black;
  text-align: center;
  width: 100%;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#menu {
  display: none;
}

#menu:checked ~ .dropdown {
  display: block;
  cursor: pointer;
}

.header__mobile-nav ul li {
  list-style: none;
  margin: 0.5rem;
  width: 95%;
}

.header__mobile-nav ul li a:hover {
  color: #caffff;
  background-color: #1f1f27;
}

.header__mobile-nav ul li a {
  text-transform: capitalize;
  font-size: 1.1rem;
  /* color       : ; */
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 660px) {
  .header__mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: none;
  }
}

/* header-nav style ends here */
/* <!-- section1 ends here --> */
/* <!-- section2 starts here --> */
/* <!-- section2 ends here --> */
/* <!-- section3 starts here --> */
/* <!-- section3 ends here --> */
/* <!-- section4 starts here --> */
/* <!-- section4 ends here --> */
/* <!-- section5 starts here --> */
/* <!-- section5 ends here --> */
/* <!-- section6 starts here --> */
/* <!-- section6 ends here --> */
